.grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 180x 65% 300px;
  grid-template-areas: 
    "header header header header"
    "body body body body"
    "footer footer footer footer";
    grid-auto-flow: auto;
}

.grid-header { 
  grid-area: header;
  color: white;
  text-align: center;
  border: 1px solid black;
  background-color: lightblue;
  /* background-image: url("https://i.pinimg.com/originals/dc/c4/94/dcc4946a6d59e51eb585a2086d80cb5c.jpg"); */
  background-image: url("https://d1lss44hh2trtw.cloudfront.net/assets/article/2020/10/20/cyberpunk-2077-build-header_feature.jpg");
  background-size: cover;
  width: 100%;
  
  
   }
  .grid-body {
    grid-area: body;
    text-align: center;
    border: 1px solid blue;
    height: auto;
    align-items: auto;
    
    
    
   }
  .grid-footer {
    grid-area: footer;
    text-align: center;
    border: 1px solid black;
    background-color: grey;
   }


.center {
  text-align: center;
}

.star {
  cursor:pointer;
  transition: color 200ms;
}